@(message: String, transactions: Seq[Transaction])


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>USER_ID</th>
                <th>IS_DEBIT</th>
                <th>AMOUNT</th>
                <th>TIMESTAMP</th>
            </tr>
            @for(t <- transactions.sortWith(_.id > _.id)) {
                <tr>
                    <td>@t.id</td>
                    <td>@t.userId</td>
                    <td>@t.isDebit</td>
                    <td>@t.amount</td>
                    <td>@t.timestamp</td>
                </tr>
            }
        </table>

    </body>
</html>